@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 243, 243);
}

#header {
  width: 100%;
  height: 12vh;
  display: flex;
  background-color: rgb(243, 243, 243);
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo img {
  width: 350px;
  height: 40px;
  padding: 0 0 0 10px;
}

#nav-bar li {
  display: inline;
  padding-right: 80px;
}

#nav-bar li a {
  text-decoration: none;
  color: #000000;
}

section {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form {
  padding: 25vh 0px 0px 0px;
}
#form h2 {
  margin-bottom: 25px;
  font-weight: 700;
}
#form input[type="email"] {
  width: 270px;
  height: 1.8rem;
  padding: 5px;
  outline: none;
  background-color: white;
}
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#form button[type="button"] {
  width: 160px;
  padding: 6px 1px;
  text-align: center;
  margin: 15px 55px 30px;
  font-weight: 900;
  background-color: #ffa601;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

#form button[type="button"]:hover {
  background-color: #ff7b00;
}

button a {
  text-decoration: none;
  color: black;
}

#features {
  width: 100%;
  height: 75vh;
  margin-top: 85px;
}

.content-1 {
  width: 100%;
  text-align: left;
}

.materials,
.shipping,
.quality {
  width: 80%;
  height: 30vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.image-1 {
  padding: 0 12.5px;
}

.image-1,
.image-2,
.image-3 {
  margin: 0 50px;
  font-size: 3rem;
  color: #ff8c00;
}

.description {
  font-weight: 700;
  font-size: 1.5rem;
}

.description-p {
  font-weight: 500;
}

#video {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 50px 130px 40px;
  height: 100%;
}

/*section price*/
#price {
  width: 80%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  margin: 50px 130px 40px;
}

.price {
  width: 400px;
  height: 300px;
  background-color: rgb(243, 243, 243);
  margin: 0 10px;
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
}
.product-1,
.product-2,
.product-3 {
  background-color: rgb(221, 221, 221);
  width: 100%;
  height: 9vh;
  text-align: center;
  padding: 15px 0;
}

.price h2 {
  font-size: 1.1rem;
  font-weight: 700;
}
.price .dolar {
  margin: 15px 0;
  font-size: 1.5rem;
}

.price p {
  text-align: center;
  margin-bottom: 10px;
}

.price button[type="submit"] {
  width: 100px;
  height: 37px;
  padding: 6px 1px;
  text-align: center;
  margin: 15px 55px 30px;
  font-weight: 900;
  background-color: #ffa601;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.5s;
}

.price button[type="submit"]:hover {
  background-color: #ff7b00;
}

footer {
  background-color: rgb(221, 221, 221);
  width: 80%;
  height: 80px;
  margin: 50px 130px 0px;
  padding: 20px;
  text-align: end;
}

footer li {
  display: inline-block;
  margin-bottom: 10px;
}

footer li a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}

footer span {
  font-weight: 300;
}

@media (max-width: 800px) {
  header {
    padding-left: 60px;
  }
  #nav-bar {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  #video,
  #price,
  footer {
    margin-left: 80px;
  }
  #price {
    margin-left: 80px;
  }
}

@media (max-width: 705px) {
  body {
    text-align: center;
  }

  #features {
    align-items: start;
    width: 100%;
    text-align: start;
  }
  .description {
    padding-left: 30px;
  }
  #features i {
    opacity: 0;
    padding: 0;
  }
  #video {
    align-items: left;
  }

  #price {
    align-items: center;
    flex-direction: column;
    height: 150vh;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-right: 150px;
  }
  .materials,
  .shipping,
  .quality {
    display: block;
    margin-left: 20px;
    font-size: 1.3rem;
    padding-bottom: 50px;
    padding: 0px;
  }
  #video {
    width: 100%;
    margin-left: 0;
    border: none;
  }
  .materials {
    padding-bottom: 0px;
    padding: 0px;
  }
  .quality {
    margin-bottom: 30px;
  }
  .materials p,
  .shipping p,
  .quality p {
    width: 100%;
    font-size: 1.1rem;
  }

  .price {
    margin-right: 70px;
  }
}

@media (max-width: 486px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    text-align: start;
  }
  #nav-bar {
    display: inline-block;
    white-space: nowrap;
  }
  body {
    margin: 0;
  }

  footer {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .price {
    margin-left: 60px;
  }
}
